
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-image: url(../_img/Cloudy\ \(1\).svg);
    font-family: 'Lobster', cursive;
}

.card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 300px;
    background: rgb(95, 95, 95);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 2px 30px 5px rgb(255, 255, 255);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 35px;
    border-right: black solid 1px;
}

.profile>h1 {
    line-height: 1px;
    margin-left: 50px;
    text-align: center;

}

#avatar {
    width: 150px;
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 15px;
}

.info {
    border: red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.icon {
    width: 50px;
    margin: 8px;
    transition: transform 0.3s ease-in-out;
}

.icon:hover{
    transform: scale(1.1);
}

.text{
    line-height: 5px;
    margin-top: 20px;
    text-shadow: 2px 2px 7px rgb(255, 255, 255);
}

.icones{
    display: flex;
    flex-direction: row;
    align-items: center;

}