@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');


body {

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #111;
    background-image: url(../img/fundo\ sobri.jpeg);

}

.card {

    border-radius: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 480px;
    background-color: #4682B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 25px 5px rgb(17, 17, 17);

}

h1{

    font-family: 'Chakra Petch', sans-serif;

}

form{

    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;

}

input::placeholder{

    margin: 20px;
    color: white;

}

form [type="text"]{

    height: 50px;
    background-color: #4682B4;
    border-bottom: solid #111;
    border-top: none;
    border-left: none;
    border-right: none;

}

form [type="email"]{

    height: 50px;
    background-color: #4682B4;
    border-bottom: solid #111;
    border-top: none;
    border-left: none;
    border-right: none;
}

.ronaldo:hover [type="submit"]{

    cursor: pointer;
    border-radius: 20px;
    background-color: #111;
    color: white;
    transition: 1s 0s;

}

.ronaldo [type="submit"]{

    /* border: solid red; */
    height: 50px;
    cursor: pointer;
    border-radius: 20px;
    background-color: white;
    border: none;
    margin: 20px;

}


input{

    margin-top: 20px;
    height: 30px;
    padding: 11px;

}

.rodape{

    display: flex;
    flex-direction: column;

}

a{

    color: #111;
    padding: 5px;
    text-align: center;
    text-decoration: none;

}

a:hover{

    color: white;
    transition: 0.5s 0s;

}


