@media screen and (max-width: 790px) {

    body {

        /* border: solid red; */
        flex-direction: column;
        height: 1900px;


    }

    .container{

        align-items: center;
        /* border: solid red; */
        flex-direction: column;
        height: 38%;

    }

    .pimg1{

        background-attachment: fixed;
        text-align: center;

    }

    footer{

        position: fixed;
        top: 860px;

    }


}

@media screen and (max-width: 810px) {
    

    .ptext{

        line-height: 70px;
        

    }

    .pimg1{

        background-attachment: fixed;

    }


}

@media screen and (max-width: 1030px) {

    .container{

        align-items: center;
        flex-direction: column;
        /* border: solid red; */
        height: 100%;

    }

    .pimg1{

        background-attachment: fixed;

    }

}