@media screen and (max-width: 790px) {

    body {

        /* border: solid red; */
        flex-direction: column;
        height: 3000px;


    }

    .dropdown {
        align-self: center;
    }

    .fundo{

        display: flex;
        flex-direction: column;
        /* border: solid red; */

    }

    .container{

        align-items: center;
        flex-direction: column;

    }

    .pimg1{
        
        background-attachment: fixed;

    }

    footer{

        position: fixed;
        height: 70px;


    }


}


