

body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: 	#8B4513;
    /* background-color: #966d28; */
    overflow-x: hidden;
}


header{

    height: 100px;
    flex: 1 1 100vw;
    display: flex;

}

header #logo {

    display: flex;
    width: 10%;

}

#menu {

    align-items: center;
    float: right;

}

nav{
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
}

nav a {

    margin: 02%;
    font-size: 15pt;
}

.navbar {
    /* border: solid red 2px; */
    justify-content: flex-end;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100px;
    align-items: center;
  

}


header, nav{
    /* background-color:#ff5cfb; */
    background-color: #FF1493;
    display: flex;
    justify-content:flex-end;

}



.navbar a {


    /* border: solid red 2px;  */
    float: right;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}



.dropdown {
    float: right;
    overflow: hidden;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;

}

.dropbtn {

    padding: 14px;

}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #de3163;
    transition: 1s 0s;
    border-radius: 5px;
    color: snow;

}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 14px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: snow;
}

.dropdown:hover .dropdown-content {
    display: block;
}


footer {
    height: 80px;
    flex: 1 1 200vw;
    background-color: rgb(173, 175, 176);
    align-items: center;

}

.ptext {

    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
    z-index: 1;

}

.ptext .border {

    background-color: #de3163;
    color: #fff;
    padding: 20px;
    border-radius: 10px;

}

.preco{

    color: green;

}

.ptext .border .trans {

    background-color: transparent;

}

.texto {
    text-align: center;
    color: rgb(255, 255, 255);
}

.carrossel {
    /* border: solid red; */
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    /* flex-wrap: wrap; */
    /*especifica se os itens flexíveis devem ser encapsulados ou não. */
    /* margin: 5px; */
    /* border: #e33c09 solid 3px; */
}

/* CARROSSEL SLIDE -- INICIO */
.slide_container {
    /* border: solid red; */
    left: 110px;
    margin: 10px 15px;
    position: relative;
    width: 80%;
    height: 500px;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: 12s ease-in-out sliding infinite;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}

.imagem {
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
}


@keyframes sliding {
    0% {
        transform: translateX(0%);
    }

    5% {
        transform: translateX(0%);
    }

    35% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-100%);
    }

    70% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-300%);
    }

}

@media screen and (max-width:717px) {

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        justify-content: center;
        align-items: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
        order: 1;
    }

    nav a {
        margin: 3%;
    }

    aside {
        height: 100px;
        order: 3;
    }

    header {
        order: 0;
    }

    main {
        height: calc(100vh - 330px);

        order: 2;
    }

    footer {
        order: 4;
    }
}